@import url(./_contact.css);

@font-face {
    font-family: vazir;
    src: url(../font/Vazirmatn-Regular.woff2);
}
@font-face {
    font-family: vazir-bold;
    src: url(../font/Vazirmatn-Bold.woff2);
}

*, body{
    font-family: vazir;
    direction: rtl;
}

.container-fluid-custom{
    background-color: rgb(1,1,126);
    color:#fff;
    /* height: 40px; */
}


.nav{
    background-color: #efefef;
    overflow: hidden;   
    position: sticky;
    top:0;
    z-index: 9999;
}



.nav a {
    float: right;
    color: rgb(46,46,46);
    text-align: center;
    padding: 20px 16px;
    font-size: 18px;
    border-bottom: 0 solid transparent;
    transition: all .2s ease;
   
}
.nav a:hover{
    border-bottom: 2px solid red;
}

.icon{
    display: none;
}

@media screen and (max-width:600px){
    .nav a:not(:first-child)
    {display: none;}
    .nav a.icon{
        display: block;
        float: left;

    }
    .nav.responsive{
        position: relative;
    }
    .nav.responsive a{
        display: block;
        float: none;
        text-align: right;
    }
    .nav.responsive a.icon{
        position: absolute;
        top: 0;
        left: 0;
    }
    
}

.overlay{
    width: 100%;
    background-color: rgba(0,0,0,.6);
    height: 100vh;
    top: 0;
    left:0;
}

figure img{
    background-color: red;
    height: 100vh;
}

.header-title{
    color: #fff;
    margin: 300px;
    max-width: 300px;
}
.header-title a{
    background-color: orange;
    padding: 5px 1px;
    border-radius: 3px;
    color:#fff;
    float: left;

}

@media screen and (max-width:1200px) {
    .header-title{
        width:100%;
        margin: 0;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color:#000;
        padding:25px;
        border-radius: 10px;
    }
}

.course-title{
    text-align: center;
    font-size: 28px;
}
.course-title span{
    position: relative;
}
.course-title span::before{
    content: '';
    width:40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 18px;
    right: -50px;
}
.course-title span::after{
    content: '';
    width:40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 18px;
    right: 166px;
}


.aboutus-title{
    text-align: center;
    font-size: 20px;
}
.aboutus-title span{
    position: relative;
}

.aboutus-title span::before{
    content:'';
    width: 45px;
    height: 5px;
    background-color: orangered;
    position: absolute;
    top: 16px;
    right: -50px;
}
.aboutus-title span::after{
    content:'';
    width: 45px;
    height: 5px;
    background-color: orangered;
    position: absolute;
    top: 16px;
    right: 69px;
}
.aboutus-sec{
    background-color: antiquewhite;
    margin-top: 15px;
    padding: 60px;
}

.aboutus-sec p {
    padding: 20px;
    font-size: 17px;
    line-height: 32px;
    color:#6b6666
}

.aboutus-sec a {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 3px;
    color:#fff;
    float: left;
    margin-left: 40px;
    font-size: 16px;
    transition: .5s ease-in;
}
.aboutus-sec a:hover{
    border-radius: 0 10px 0 10px;
}
.team-members{
    background-color: bisque
}


.team-introduce{
    position: absolute;
    top: 95%;
    left:50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: -1px 3px 7px 1px;
    text-align: center;
}
.team-introduce h5{
    margin: 30px 0 70px 0;
    padding: 10px;
}
.team-introduce a{
    border: 2px solid orange;
    padding: 5px 1px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;

}
.team-introduce a:hover{
    background-color: orange;
}


.products{
    background-color: #f6dd00;
}

.products .card {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: aquamarine;
    padding: 20px;
    
    
}
.products .card .card-header{
    overflow: hidden;
}



.products .card img{
    transition:transform 2s ease-in;
}

.products .card:hover img{
    transform: scale(1.2) rotate(15deg);
}
.products .card .card-body{
    margin-top: 45px;
}
.products .card .card-body a{
    background-color: orangered;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 4px 6px 8px 10px;
    color:whitesmoke;
    transition: 1s ease-in-out;
}

.products .card .card-body a:hover{
    background-color: orange;
    border-radius: 6px 8px 10px 12px;
}

.products .card .card-body .dates .num{
    background-color: rgb(47, 180, 180);
    width: 50px;
    top: -45px;
    right: 86px;
    text-align: center;
}
.products .card .card-body .dates .text{
    background-color: rgb(255, 38, 0);
    width: 50px;
    top: -70px;
    right: 86px;
    text-align: center;
    
}

.feedbacks .card{
    text-align: center;
    box-shadow: 1px 1px 2px gray;
}

.feedbacks .card i {
    font-size: 32px;
    font-weight: bolder;
}

.feedbacks .card  i{
    margin: 10px;
}
.feedbacks .card  div{
    margin: 10px;
}

.faq-section-wrapper .section-title{
    text-align: center;
}

.faq-section-wrapper .faq-right-side{
    box-shadow: 1px 5px 15px 2px #6b6666;
    margin-top: 20px;
    background-color: #fff;
    padding: 50px;
}

.faq-section-wrapper .faq-right-side h6{
    font-size: 16px;
}

.faq-section-wrapper .faq-right-side h6 i{
    color:#6b6bff;
    margin-left: 16px;
    font-size: 32px;
    vertical-align: -6px;
}

.faq-section-wrapper .faq-right-side p{
    font-size: 14px;
    margin-right: 47px;
    color: #ababab;
    margin-top: 10px;
}

.faq-section-wrapper .faq-right-side div{
    margin-bottom: 20px;
}

.faq-section-wrapper .faq-left-side{
    box-shadow: 1px 5px 15px 2px #6b6666;
    margin-top: 20px;
    background-color: #fff;
    padding: 50px;
   
}
.faq-section-wrapper .faq-left-side .tabs{
    /* background-color: #ffc412; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 5px 15px 2px rgba(68, 102,242, 0.05);
}
.faq-section-wrapper .faq-left-side .tabs .tab{
    color: #fff;
    overflow: hidden;
}

.faq-section-wrapper .faq-left-side .tabs .tab label{
    padding: 16px;
    background-color: #ffc412;
    width: 100%;
    cursor: pointer;
    display: block;
}

.faq-section-wrapper .faq-left-side .tabs .tab label:hover{
    background-color: #f6dd00;
}

.faq-section-wrapper .faq-left-side .tabs .tab label::after{
    content: '\276f';
    /* width: 16px;
    height: 16px; */
    text-align: center;
    float: left;
    font-size: 22px;
    color:red;
    transition: .4s;
    padding: 2px 0 0 0;
}

.faq-section-wrapper .faq-left-side .tab-content{
    height: 0;
    transition: 0.5s ease-in;
    background-color: #6b6bff;
    padding-right: 20px;
    overflow-y: scroll;
}
.faq-section-wrapper .faq-left-side .tab-content p{
    padding-top: 30px;
}
.faq-section-wrapper .faq-left-side .tabs .tab input:checked ~ .tab-content{
    height: 100px;
}

.faq-section-wrapper .faq-left-side .tabs .tab input[type="checkbox"]{
    display: none;
}
.faq-section-wrapper .faq-left-side .tabs .tab input:checked + label::after{
    transform: rotate(-90deg);
}